__pycache__/
*.pyc
*.pyo
*.egg-info/
*.egg
dist/
build/
.eggs/
venv/
.venv/
env/
node_modules/
csv-frontend/node_modules/
csv-backend/venv/
csv-backend/media/
csv-backend/db.sqlite3
csv-backend/staticfiles/
.env
*.env.local
.git
.gitignore
*.md
.vscode/
.idea/
