# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node
node_modules/
dist/

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
